* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	border: none;
	list-style: none;
	outline: none;
}

html {
	font-size: 2.7vw;
	/*相当于10px*/
}

body {
	background: white;
}

.clearfix:after {
	/*伪元素是行内元素 正常浏览器清除浮动方法*/
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
	/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}

.header {
	width: 100vw;
	height: 14.4vw;
}

.logo {
	width: 6.6vw;
	height: 7.6vw;
	background: url(../images/JImg/logo.png) no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 4vw;
}

.search input {
	background: rgb(241, 241, 241);
	vertical-align: middle;
	line-height: 5vw;
	padding-left: 4.8vw;
	display: inline-block;
	font-size: 3.7vw;
	letter-spacing: 2.8px;
	width: 45vw;
}

.search {
	width: 50vw;
	height: 5vw;
	display: inline-block;
	padding-left: 1.87vw;
	background: rgb(241, 241, 241);
	border-radius: 50px;
}
.s-logo
{
	width: 2.6vw;
	height: 2.6vw;
	background: url(../images/JImg/搜索，放大镜.png) no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: middle;
}

.tab {
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	/*vertical-align: middle;*/
	margin-left: 4vw;
}

.person {
	width: 4.3vw;
	height: 4.3vw;
	background: url(../images/JImg/person.png) no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	margin-right: 4vw;
}

.news {
	width: 4.8vw;
	height: 3.4vw;
	background: url(../images/JImg/news.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 4vw;
	display: inline-block;
}

.submit {
	width: 5vw;
	height: 5vw;
	background: url(../images/JImg/more.png) no-repeat;
	display: inline-block;
	background-size: 100% 100%;
	vertical-align: top;
}

.title {
	padding-bottom: 4vw;
	text-align: center;
}

.follow {
	font-size: 1.6rem;
	margin: 0 auto;
	display: inline-block;
	padding-right: 33vw;
}

.rec {
	font-size: 1.6rem;
	margin: 0 auto;
	display: inline-block;
	/*border-bottom: 1.8vw solid #FFE300 ;*/
}
.rec:nth-of-type(1)
{
	padding-right: 30vw;
	
}
.rec span{
	width: 3.3rem;
	height: 1.8vw;
	border-radius:50px ;
	display: block;
	background: #FFE300;
}
.gray {
	width: 100vw;
	height: 2vw;
	background: rgb(247, 245, 245);
	margin-bottom: 3vw;
}
.main-content{
	padding: 0vw 4vw;
	
}
/*:first-child .main-content
{
	display: none;
}*/
.first{
	display: none;
}
.rec:nth-of-type(1) span{
	opacity: 0;
}
.post {
	/*padding: 0vw 4vw;*/
	padding-bottom: 1.8vw;
	/*letter-spacing: 2.8px;*/
}

.profile {
	width: 10vw;
	height: 10vw;
	background: url(../images/JImg/profile.jpg) no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}

.tag {
	display: inline-block;
	vertical-align: top;
	width: 81vw;
}

.id {
	display: inline-block;
	font-size: 1.6rem;
}

.tag-right {
	float: right;
	display: inline-block;
}

.add-follow {
	display: inline-block;
	font-size: 1.4rem;
	vertical-align: middle;
	background: #FFE300;
	border-radius: 15px;
	margin-right: 4vw;
	padding: 0.6vw;
}

.share {
	display: inline-block;
	background: url(../images/JImg/share.png) no-repeat;
	background-size: 100% 100%;
	width: 3.4vw;
	height: 3.4vw;
	vertical-align: middle;
}

.content {
	margin-left: 4vw;
	/*border: 1px solid #000000;*/
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
	padding: 2vw;
	padding-bottom: 1vw;
	border-radius:20px ;
	transform: translateY(-30px);
}


.content-text {
	font-size: 3.7vw;
	/*letter-spacing: 5px;*/
	color: #999999;
	/*如果不设置max-width的话，会出现字数变多时，字号突然增大的情况*/
	max-height:9999px;
	letter-spacing: 2.8px;
}
.content-pic {
	/*font-size: 0;*/
	padding: 2vw 0;
	/*padding-bottom: 3vw;*/
}

.content-pic div:nth-of-type(1) {
	width: 27.4vw;
	height: 27.66vw;
	background: url(../images/JImg/2.jpg) no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}

.content-pic div:nth-of-type(2) {
	width: 27.4vw;
	height: 27.66vw;
	background: url(../images/JImg/1.jpg) no-repeat;
	display: inline-block;
	background-size: 100% 100%;
}

.content-pic div:nth-of-type(3) {
	display: inline-block;
	width: 27.4vw;
	height: 27.66vw;
	background: url(../images/JImg/3.jpg) no-repeat;
	background-size: 100% 100%;
}

.time {
	font-size: 20px;
	color: #999999;
	/*display: inline-block;*/
}
.content-footer{
	display: flex;
	justify-content: space-between;
	 align-items:center;
}
.repeat,
.collect,
.like,
.comment {
	display: inline-block;
	font-size: 1rem;
	color: #868686;
	margin-left: 3.2vw;
}

.repeat-img {
	background: url(../images/JImg/repeat.png) no-repeat;
	background-size: 100% 100%;
	width: 3.47vw;
	height: 3.2vw;
}

.collect-img {
	background: url(../images/JImg/collect.png) no-repeat;
	background-size: 100% 100%;
	width: 4.27vw;
	height: 4vw;
}

.like-img {
	background: url(../images/JImg/like.png) no-repeat;
	background-size: 100% 100%;
	width: 4vw;
	height: 2.9vw;
}

.comment-img {
	background: url(../images/JImg/comment.png) no-repeat;
	background-size: 100% 100%;
	width: 3.2vw;
	height: 3.2vw;
}
.current{
	color: #FFE300;
}


*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline:none
}
body{
	background: white;
}
.s-header{
	width: 100vw;
	height: 10.6vw;
	position: relative;
	border-bottom: 1px solid #D4D4D4;
}
.bolo-header
{
	background: url(../images/JImg/boloHeader.png) no-repeat;
	background-size: 100% 100%;
	width: 36vw;
	height: 10.6vw;
	/*margin: 0 auto;*/
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
}
.return{
	background: url(../images/JImg/return.png) no-repeat;
	background-size: 100% 100%;
	width: 2.4vw;
	height: 4vw;
	display: inline-block;
	transform: translateY(-50%);
	position: absolute;
	left: 4vw;
	top: 50%;
}
.s-search{
	height: 8vw;
	width: 92.3vw;
	padding: 2.6vw 4vw;
	border-bottom: 8px solid #F7F5F5;
}
.search-inner{
	height:8vw ;
	width: 92.3vw;
	background: #D4D4D4;
	border-radius: 13px;
}
.s-search form{
	/*opacity: 0;*/
	/*color: #7A7A7A;
	font-size: 3.7vw;
	background: #D4D4D4;*/
	display: inline-block;
	line-height: 8vw;
	vertical-align: middle;
	
	
}
.s-search input{
	color: #7A7A7A;
	font-size: 3.7vw;
	background: #D4D4D4;
	display: inline-block;
	vertical-align: middle;
	padding-left: 5.3vw;
	line-height: 8vw;
}
.search-logo{
	width: 4.27vw;
	height: 4.27vw;
	display: inline-block;
	background: url(../images/JImg/搜索，放大镜.png) no-repeat;
	background-size: 100% 100%;
	margin-left: 11.2vw;
	vertical-align: middle;
}

.his-search{
	
}
.search-demo{
	padding: 0 4vw ;
	padding: 3.7vw 4vw 2.9vw 4vw;
	border-bottom: 1px solid #D4D4D4;
	font-size: 0;
}
.search-content{
	display: inline-block;
	width: 83vw;
	vertical-align: middle;
	box-sizing: border-box;
	padding-left: 2.9vw;
	/*letter-spacing: 2.8px;*/
	letter-spacing: 0.6vw;
	font-size: 3.7vw;
	word-break: break-all;
}
.search-before{
	display:inline-block;
	width:3.47vw ;
	height: 4.53vw;
	background: url(../images/JImg/icon.png) no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
}
.search-delete{
	display: inline-block;
	width:4.2vw ;
	height: 4.2vw;
	background: url(../images/JImg/delete.png) no-repeat;
	vertical-align: middle;
	background-size: 100% 100%;
}

.search-web{
	display: none;
}
