*{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
/* body{
    background-image: url(../images/kaola/背景.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
} */
#login {
    background-image: url(../images/kaola/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.top{
    height: 10.4vw;
    width: 100%;
}
.return{
    width: 9.3vw;
    height: 5.3vw;
    background-image: url(../images/kaola/return.png);
    background-size: 100% 100%;
    position: relative;
    left: 5.6vw;
    top: 5vw;
}
.logo{
    height: 56.3vw;
}
.square{
    width: 29.3vw;
    height: 29.3vw;
    background-image: url(../images/kaola/logo.png);
    background-size: 100% 100%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
.down{
    height: 94.4vw;
    background-color: white;
    top: 66.7vw;
}
.main{
    height: 120vw;
    width: 92vw;
    background-color: white;
    position: relative;
    top: -16.3vw;
    right: 0;
    left: 0;
    margin: auto;
    padding-top: 1vw;
    border-radius: 4.8vw 4.8vw 0 0;
    box-shadow: 0 0.8vw 1.6vw rgb(193, 193, 193);
}
.main_login{
    width: 100%;
}
.table{
    width: 61.9vw;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 15vw;
}
#login input{
    width: 100%;
    display: block;
    border-width: 0 0 1px 0;
    border-color: #999;
    border-radius: 0;
    margin-top: 7vw;
    height: 8vw;
    outline: none;
    font-size: 4.27vw;
}
.forget{
    font-size: 3.7vw;
    text-align: right;
    color: rgb(107, 107, 107);
    margin-top: 1vw;
}
.login,.register{
    background-color: rgb(255, 218, 31);
    height: 9.6vw;
    width: 31vw;
    font-size: 4.8vw;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    border-radius: 5.3vw;
    line-height: 9.6vw;
    margin-top: 8.5vw;
}
.social{
    height: 21.3vw;
    border-width: 1px 0 0 0;
    border-color: rgb(131, 131, 131);
    border-style: solid;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 11vw;
    width: 80%;
    box-sizing: border-box;
    position: relative;
}
.software{
    height: 48%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.social>div>div{
    display: inline-block;
    background-size: 100% 100%;
}
.weibo{
    background-image: url(../images/kaola/weibo.png);
    width: 14%;
    height: 88%;
    margin-left: 8%;
}
div.QQ{
    background-image: url(../images/kaola/QQ.png);
    width: 11%;
    height: 92%;
    margin-left: 22%;
}
.wechat{
    background-image: url(../images/kaola/wechat.png);
    width: 16%;
    height: 90%;
    margin-left: 23%
}
.or{
    width: 30%;
    height: 20%;
    background-color: white;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 3.7vw;
    text-align: center;
    top: -12%;
    line-height: 4.25vw;
    color: rgb(129, 129, 129);
}
.swapToResigter{
    text-align: center;
    font-size: 3.7vw;
}
input.enterCode{
    width: 32.4vw;
}
.getCode{
    font-size: 3.7vw;
    height: 5.1vw;
    width: 24.4vw;
    background-color: rgba(255, 218, 31, 0.4);
    text-align: center;
    line-height: 5.1vw;
    border-radius: 2.4vw;
    position: relative;
    top: -5.1vw;
    left: 39vw;
}
.swapToLogin{
    text-align: center;
    font-size: 3.7vw;
    margin-top: 6vw;
}
.none{
    display: none;
}
.tip{
    font-size: 3.73vw;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 3vw;
    text-align: center;
    width: fit-content;
    background-color: rgb(241, 241, 241);
    box-sizing: border-box;
    padding: 0.5vw 2vw;
    border-radius: 4vw;
}