* {
    padding: 0;
    margin: 0;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
    background-color: white;
    min-height: 100vh;
}

#news_header {
    height: 11.7vw;
    width: 100vw;
    display: flex;
    align-items: center;
}

#news_returnLogo {
    /* 顶部返回键 */
    height: 5.6vw;
    width: 3.5vw;
    background-image: url(../images/news/return.png);
    background-position: center;
    background-size: cover;
    margin-left: 4vw;
}

#news_title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
}

#newsIcon {
    width: 4.8vw;
    vertical-align: middle;
}

#newsText {
    font-size: 1rem;
    display: inline-block;
    letter-spacing: 0.1rem;
    margin-left: 5px;
    vertical-align: middle;
}

#itemsBox {
    height: 11.4vw;
    background-color: #F6F6F6;
    box-sizing: border-box;
    padding: 0 11.7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    /* 每一个选项 */
    font-size: 1rem;
    line-height: 1.25rem;
    position: relative;
}

.select_line {
    /* 选项选中的横线 */
    position: absolute;
    bottom: -2.1vw;
    height: 1.1vw;
    width: 9.9vw;
    background-color: #FFE300;
    border-radius: 0.8vw;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#discussPart {
    /* “评论”板块 */
    margin: 0 9.1vw 0 6.9vw;
    display: none;
}

.oneDiscussion {
    /* 一条评论 */
    padding: 2.7vw 0 2.1vw;
    border-bottom: 1.5px solid #999999;
}

.user {
    height: 10.7vw;
    font-size: 0;
    margin-left: 1.3vw;
    position: relative;
}

.headPortrait {
    /* 用户头像 */
    height: 10.7vw;
    width: 10.7vw;
    border-radius: 5.35vw;
    background-image: url(../images/news/headPortrait1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.userformation {
    display: inline-block;
    height: 10.7vw;
    box-sizing: border-box;
    width: 71vw;
    padding-left: 1.3vw;
    vertical-align: top;
}

.user_name {
    font-size: 0.875rem;
    font-family: "黑体";
    color: #333333;
    position: absolute;
    top: 0;
}

.user_date {
    color: #999999;
    font-size: 0;
    position: absolute;
    bottom: 0;
}

.day, .time {
    display: inline-block;
    font-size: 0.625rem;
    font-family: "黑体";
}

.time {
    margin-left: 1.8vw;
}

.reply {
    height: 5.6vw;
    line-height: 5.6vw;
    width: 10.7vw;
    border-radius: 1.6vw;
    background-color: #EEEEEE;
    position: absolute;
    right: 0;
    top: 0;
    color: #333333;
    font-size: 0.75rem;
    font-family: "黑体";
    text-align: center;
}

.text {
    max-width: 100%;
    font-size: 0.875rem;
    font-family: "黑体";
    line-height: 1rem;
    margin: 3.5vw 0 2.7vw;
}

.article {
    height: 13.9vw;
    font-size: 0;
}

.article_image {
    height: 13.9vw;
    width: 13.9vw;
    background-image: url(../images/news/image1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.reply_Object {
    height: 13.9vw;
    width: 69vw;
    display: inline-block;
    background-color: #EEEEEE;
    box-sizing: border-box;
    padding: 2.5vw 2.5vw;
    vertical-align: top;
}

.replyName {
    font-size: 0;
}

.atsign, .object_user {
    font-size: 0.75rem;
    font-family: "黑体";
    display: inline-block;
}

.object_content {
    width: 61vw;
    font-size: 0.75rem;
    font-family: "黑体";
    color: #434343;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */
#likemePart {
    /* “赞我”板块 */
    margin: 0 9.1vw 0 6.9vw;
    display: none;
}

.oneLikeme {
    /* 一条赞我的消息 */
    padding: 2.7vw 0 2.1vw;
    border-bottom: 1.5px solid #DDDDDD;
}

.likemeUser {
    height: 10.7vw;
    font-size: 0;
    margin-left: 1.3vw;
    position: relative;
}

.likemeHeadPortrait {
    /* 赞我的用户头像 */
    height: 10.7vw;
    width: 10.7vw;
    border-radius: 5.35vw;
    background-image: url(../images/news/headPortrait1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.likemeUserformation {
    /* 赞我的用户的信息 */
    display: inline-block;
    height: 10.7vw;
    box-sizing: border-box;
    width: 18.7vw;
    padding-left: 1.3vw;
    margin-right: 1.5vw;
    vertical-align: top;
}

.likemeUser_name {
    /* 赞我的用户的用户名 */
    font-size: 0.875rem;
    font-family: "黑体";
    color: #333333;
    position: absolute;
    top: 0;
}

.likemeUser_date {
    /* 赞我的日期 */
    color: #999999;
    font-size: 0;
    position: absolute;
    bottom: 0;
}

.likemeDay, .likemeTime {
    display: inline-block;
    font-size: 0.625rem;
    font-family: "黑体";
}

.likemeTime {
    margin-left: 1.8vw;
}

.likemeDescript {
    /* “赞了我的 XX” */
    font-size: 0;
    display: inline-block;
    position: absolute;
    top: 10%;
}

.descript_left, .descript_right {
    font-size: 0.75rem;
    font-family: "黑体";
    display: inline-block;
}

.descript_left img {
    margin-right: 1.6vw;
    width: 4vw;
}

.likemeObject {
    /* 点赞的文章或评论 */
    height: 10.7vw;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
    display: inline-block;
}

.likemeObject_image {
    height: 10.7vw;
    width: 10.7vw;
    display: inline-block;
    background-image: url(../images/news/image3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: top;
}

.likemeText {
    height: 10.7vw;
    width: 21vw;
    background-color: #EEEEEE;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 2vw;
    font-size: 0;
}
.text_box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.text_at, .text_name {
    font-size: 0.625rem;
    font-family: "黑体";
    display: inline-block;
}

.text_content {
    width: 17vw;
    font-size: 0.5rem;
    font-family: "黑体";
    color: #434343;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

#atMePart {
    /* “@我”板块 */
    margin: 0 9.1vw 0 6.9vw;
    display: none;
}

.oneatMe {
    /* 一条@我的消息 */
    padding: 2.7vw 0 2.1vw;
    border-bottom: 1.5px solid #DDDDDD;
}

.atMeUser {
    height: 10.7vw;
    font-size: 0;
    margin-left: 1.3vw;
    position: relative;
}

.atMeHeadPortrait {
    /* @我的用户头像 */
    height: 10.7vw;
    width: 10.7vw;
    border-radius: 5.35vw;
    background-image: url(../images/news/headPortrait1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.atMeUserformation {
    /* @我的用户的信息 */
    display: inline-block;
    height: 10.7vw;
    box-sizing: border-box;
    width: 18.7vw;
    padding-left: 1.3vw;
    margin-right: 2vw;
    vertical-align: top;
}

.atMeUser_name {
    /* @我的用户的用户名 */
    font-size: 0.875rem;
    font-family: "黑体";
    color: #333333;
    position: absolute;
    top: 0;
}

.atMeUser_date {
    /* @我的日期 */
    color: #999999;
    font-size: 0;
    position: absolute;
    bottom: 0;
}

.atMeDay, .atMeTime {
    display: inline-block;
    font-size: 0.625rem;
    font-family: "黑体";
}

.atMeTime {
    margin-left: 1.8vw;
}

.atMeDescript {
    /* “提到了你” */
    font-size: 0.625rem;
    display: inline-block;
    position: absolute;
    top: 20%;
    color: #999999;
}

.atMeObject {
    /* @我的文章或评论 */
    height: 10.7vw;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
    display: inline-block;
}

.atMeObject_image {
    height: 10.7vw;
    width: 10.7vw;
    display: inline-block;
    background-image: url(../images/news/image3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.atMeText {
    height: 10.7vw;
    width: 21vw;
    line-height: 5vw;
    background-color: #EEEEEE;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 2vw;
    font-size: 0.625rem;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}