#news_header {
    height: 11.4vw;
    width: 100vw;
    display: flex;
    align-items: center;
}

#news_returnLogo {
    /* 顶部返回键 */
    height: 5.6vw;
    width: 3.5vw;
    background-image: url(../images/news/return.png);
    background-position: center;
    background-size: cover;
    margin-left: 15px;
}

#news_title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
}

#newsIcon {
    width: 4.8vw;
    vertical-align: middle;
}

#newsTitle {
    font-size: 1rem;
    display: inline-block;
    letter-spacing: 0.1rem;
    margin-left: 5px;
    vertical-align: middle;
}

#itemsBox {
    height: 11.4vw;
    width: 100%;
    background-color: #F6F6F6;
    box-sizing: border-box;
    padding: 0 11.7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.25rem;
}