#personal-editor {
    display: none;
}
/* 顶部返回 */
#editor-return {
    width: 100vw;
    height: 11.38vw;
}
#editor-return-button {
    width: 11.67vw;
    height: 100%;
    background: url(../images/personal/top-return2.png) no-repeat center;
    background-size: 2.2vw;
}
.editor-blank {
    width: 100vw;
    height: 3.61vw;
    background: #ececec;
}
/* 头像编辑 */
#portrait-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 25.56vw;
}
#head-portrait-editor {
    width: 20.55vw;
    height: 20.55vw;
    line-height: 25.55vw;
    text-align: center;
    border-radius: 50%;
    margin-left: 4.17vw;
    background: url(../images/personal/head-portrait-editor.png) no-repeat center;
    background-size: cover;
    position: relative;
}
#editor-img-file{/*头像编辑图片文件*/
    width: 20.55vw;
    height: 20.55vw;
    position: absolute;
    left: 0;
    z-index: 10;
    opacity: 0;
}
#head-portrait-editor img {
    width: 9.44vw;
}
#head-portrait-editor-cover {
    width: 20.55vw;
    height: 20.55vw;
    border-radius: 50%;
    background: #898989;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* 信息编辑 */
#personal-message-editor {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10.55vw;
}
#editor-message-content {
    font-size: 1.7rem;
    line-height: 13.28vw;
    margin-left: 4.53vw;
}
#editor-button {
    width: 15.83vw;
    height: 100%;
    font-size: 1.7rem;
    line-height: 13.28vw;
    text-align: center;
}
.editor-content {
    width: 100vw;
    /* height: 10vw; */
    border-bottom: 0.32vw solid #ececec;
    background: #ffffff;
    position: relative;
}
.editor-content-cover {/*遮盖住编辑,让其不可编辑 */
    width: 95vw;
    height: 10vw;
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 10;/*置顶*/
}
.editor-content p {
    height: 10vw;
    font-size: 1.4rem;
    line-height: 10vw;
    color: #818181;
    margin-left: 4.33vw;
}
/* #editor-intro {简介的高度
    height: 14vw;
} */
.editor-content-text {
    width: 70vw;
    height: 7.5vw;
    font-size: 1.4rem;
    border: none;
    outline: none;
    color: #818181;
    position: relative;
}
 #editor-content-intro {/*编辑简介 */
    vertical-align: text-top;
    height: 8.8vw;
}
.editor-content-title {
    /* display: inline-block; */
    margin-right: 3.2vw;
}
#number-words { /*剩余字数多少*/
    vertical-align: top;
    margin-left: 2.5vw;
}
.sex-select {
    display: inline-block;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background: transparent;
    border: 0.2vw solid rgb(48, 47, 47);
    margin-left: 6.94vw;
    opacity: 0;
}
.sex-content {
    margin-left: 1.11vw;
}
#select-boy {
    display: block;
    width: 11vw;
    height: 5vw;
    position: absolute;
    top: 2vw;
    left: 20vw;
    z-index: 3;
}
#select-girl {
    display: block;
    width: 11vw;
    height: 5vw;
    position: absolute;
    top: 2vw;
    left: 35vw;
    z-index: 3;
}
#sex-last-select {
    margin-left: 0.3vw;
}